<div class="panel panel-default">
    <div class="panel-heading">List of departments</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Employee count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="department in departments">
                    <td><a ng-href="#/departments/{{ department.Id }}">{{ department.Name }}</a></td>
                    <td>{{ department.EmployeeCount }}</td>
                </tr>
            </tbody>
        </table>
        <a href="#/departments/new">Add new</a>
    </div>
</div>
